# @paritamadhad:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=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

registry=https://registry.npmjs.org/
@paritamadhad:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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